# For LVM partitioning, you can select how much of the volume group to use
# for logical volumes.
d-i partman-auto-lvm/guided_size string max

d-i partman-auto/choose_recipe select custompartitioning
d-i partman-auto/expert_recipe string \
custompartitioning :: \
512 1 512 ext2                                  \
$primary{ }                             \
$bootable{ }                            \
method{ format } format{ }              \
use_filesystem{ } filesystem{ ext2 }    \
label{ boot }                           \
mountpoint{ /boot }                     \
.                                               \
1024 1 100% ext4                                \
$primary{ }                             \
method{ lvm }                           \
device{ /dev/sda2 }                     \
vg_name{ lxc }                          \
.                                               \
8192 1 8192 linux-swap                          \
$lvmok{ } in_vg{ lxc }                  \
lv_name{ swap00 }                       \
method{ swap } format{ }                \
.                                               \
51200 1 51200 ext4                              \
$lvmok{ } in_vg{ lxc }                  \
lv_name{ root00 }                       \
method{ format } format{ }              \
use_filesystem{ } filesystem{ ext4 }    \
label{ root }                           \
mountpoint{ / }                         \
.                                               \
76800 1 76800 ext4                              \
$lvmok{ } in_vg{ lxc }                  \
lv_name{ openstack00 }                  \
method{ format } format{ }              \
use_filesystem{ } filesystem{ ext4 }    \
label{ openstack00 }                    \
mountpoint{ /openstack }                \
.                                               \
20480 1 20480 ext4                              \
$lvmok{ } in_vg{ lxc }                  \
lv_name{ deleteme00 }                   \
method{ format } format{ }              \
use_filesystem{ } filesystem{ ext4 }    \
label{ deleteme00 }                     \
mountpoint{ /deleteme }                 \
.                                               \
1024 1 1000000000 ext4                          \
$lvmok{ } in_vg{ lxc }                  \
lv_name{ nova00 }                       \
method{ format } format{ }              \
use_filesystem{ } filesystem{ ext4 }    \
label{ nova }                           \
mountpoint{ /var/lib/nova }             \
.                                               \
