#############
#
# Network
#
#############
d-i netcfg/choose_interface select auto
d-i netcfg/choose_interface select p1p1
d-i netcfg/link_wait_timeout string 10
d-i netcfg/dhcp_timeout string 60
d-i netcfg/no_default_route true
